{% extends 'frontend.html.twig' %}

{% block id 'oferta' %}
{% block title %}Detalle de {{ oferta.nombre }}{% endblock %}

{% block article %}
    {{ include('oferta/_oferta_completa.html.twig') }}
{% endblock %}

{% block aside %}
    {{ parent() }}

    <section id="relacionadas">
        <h2>Ofertas en otras ciudades</h2>
        <ul>
            {% for oferta in relacionadas %}
                <li>{{ oferta.ciudad.nombre }}: <a href="{{ path('oferta', { ciudad: oferta.ciudad.slug, slug: oferta.slug }) }}">{{ oferta.nombre }}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

